@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ воспрещен";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Отсутсвуют права просмотра этой страницы</p>
</header>
